body {
  background-color: black;
  color: seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  margin: 0;
  text-align: center;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* Nav section */

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: block;
  height: 69px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.logo {
  float: left;
  height: 50px;
  padding: 10px;
}

.nav {
  float: right;
  height: 100%;
  margin: 0px auto;
}

.nav li {
  display: table;
  float: left;
  height: 100%;
  padding: 0px 20px;
}

.nav li a {
  color: seashell;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-decoration: underline;
}

/* Mission section */

.mission-container {
  background-image: url(../resources/img-mission-background.jpg);
  display: flex;
  height: 700px;
  margin: 0 auto;
  padding-top: 70px;
  width: 1200px;
}

.banner {
  background-color: black;
  margin: auto;
  width: 100%;
}

/* Featured section*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.image-box {
  padding: 5px;
}

.image-box img {
  display: block;
  height: 200px;
  margin: 10px;
}

.image-box span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding: 70px;
}

/* Locations section */

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table {
  background-color: black;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
  margin: 5px 20px;
  opacity: 1;
  padding: 10px;
}

#locations {
  background-image: url(../resources/img-locations-background.jpg);
  height: 500px;
  margin: auto;
  padding-top: 70px;
  width: 1100px;
}

/* Contact section */
#contact {
  height: 200px;
}

/* Footer section */
footer {
  margin: 20px;
  text-align: left;
}
