body {
  background-color: black;
  color: seashell;
  font-family: "Helvetica";
  font-size: 22px;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: block;
  height: 69px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.logo {
  float: left;
  height: 50px;
  padding-left: 10px;
}

.nav {
  float: right;
  height: 100%;
  margin: 0px auto;
}

.nav li {
  display: table;
  float: left;
  height: 100%;
  padding: 0px 20px;
}

.nav li a {
  color: seashell;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-decoration: underline;
}

.mission-container {
  background-image: url(../resources/img-mission-background.jpg);
  display: flex;
  height: 700px;
  margin: 0 auto;
  width: 1200px;
}

.banner {
  background-color: black;
  margin: auto;
  width: 100%;
}

.gallery {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  max-width: 1000px;
}

.image-box img {
  height: 200px;
  padding: 10px;
  width: 300px;
}
